<head>
<title>successful</title>
<style>
div.heading {
    background-color:black;
    color:white;
    text-align:center;
    padding:30px;
}
div.boody{
	background-color:orange;
	width:350px;
    
    padding:60px; 
}
div.main_head{
	color:red;
	text-align:center;
	background-color:yellow;
	font-family:verdana;
}
</style>
</head>
<div class="boody">
<form action='http://localhost:8888/'>
<button type='submit'>HOME</button>
</form>
</div>
<div class"main_head">
<h2>SUCCESSFUL SUBMISSION</h2>
<form action='/blogs/adminlogin' >
<h4>ADD MORE USERS</h4>
<button type='submit'>add</button>
</form>
<div>
