<head>
<title>BLOG MANAGEMENT SYS</title>
<style>
div.main_head{
	color:black;
	text-align:center;
	background-color:orange;
	font-family:verdana;
	border-collapse: true;
}
div.logins{
	color:green;
	text-align:right;

	font-family:verdana;
}
div.refer{
	color:white;
	text-align:left;
	text-align:center;
	font-family:verdana;
}
</style>
</head>
<body style=background-color:lightgrey>
<div class="main_head">
</br>
<h1 >BLOG MANAGEMENT SYSTEM</h1>
</br></br>
</div>
</br></br></br></br></br>
<div class="logins">
<a href="/blogs/userlogin">user login</a>
</br></br>
<a href="/blogs/adminlogin">admin login</a>
</div>
<div class="refer">
</br></br></br></br>
<a href="/blogs/allblogs">ALL BLOGS</a>
</br></br></br></br>
</div>
</body>
